<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
     <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar">
            <div class="brand-title">Real Prop</div>
            <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </a>
            <div class="navbar-links">
              <ul>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Join</a></li>
              </ul>
            </div>
          </nav>
        {% block body %}
        {% endblock %}
    </body>
    </html>